// Colores
$accordion-bgcolor: $white-01;
$accordion-title-color: $blue-02;
$accordion-title-optional-color: $blue-04;


// Fuentes
$accordion-font-family-title: $secondary-font-family;
$accordion-font-family-title-optional: $main-font-family;

// General
$accordion-border: 1px solid $gray-05;
$accordion-height: 82px;
