// Colores
$card-color: $white-01;
$card-border-color: $blue-03;
$card-border-color-active: $blue-07;
$card-title-color: $blue-04;
$card-list-text-color: $blue-05;
$card-list-circle-color: $gray-02;
$card-button-color: $gray-03;
$card-button-text-color: $blue-06;
$card-input-color: $green-01;
$card-input-border-color: $gray-04;

// Fuentes
$card-font-family: $main-font-family;

// General
$card-max-width: 225px;
$card-margin-left: 7px;
$card-min-height: 488px;


