// Colores
$info-title-color: $blue-06;
$info-body-color: $gray-06;
$info-info-color: $blue-02;
$info-more-info-color: $gray-07;
$info-more-info-legend-color: $blue-06;

// Fuentes
$info-body-font-family: $main-font-family;
$info-title-font-family: $secondary-font-family;
$info-info-font-family: $secondary-font-family;
$info-more-info-font-family: $main-font-family;

// General
$info-border: 1px solid $gray-05;

