// Colores
$news-title-color: $blue-06;
$news-body-color: $gray-06;
$news-info-color: $blue-02;

// Fuentes
$news-body-font-family: $main-font-family;
$news-title-font-family: $secondary-font-family;
$news-info-font-family: $secondary-font-family;

// General
$news-border: 1px solid $gray-05;

