// Colores
$tabs-bgcolor-color: $white-01;
$tabs-color: $blue-02;
$tabs-active-color: $blue-01;
$tabs-content-color: $gray_01;

// Fuentes
$tabs-font-family: $secondary-font-family;
$tabs-font-size: 16px;
$tabs-title-font-size: 24px;

// General
$tabs-height: 45px;
$tabs-box-shadow: 0 1px 2px rgba(80,92,119,0.2);
